* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background : url('./login1.webp')no-repeat center center/cover;
    
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-container {
    /* background:#512020; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .auth-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 3rem 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    animation: fadeInUp 1.2s ease;
  }
  
  .logo {
    color: #f5b700;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }
  
  .auth-box h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  
  .auth-box p {
    color: #ccc;
    margin-bottom: 2rem;
  }
  
  .auth-form .input-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 1px solid #444;
    background: rgba(255,255,255,0.1);
    color: white;
    outline: none;
    transition: all 0.3s ease;
  }
  
  input:focus {
    border-color: #f5b700;
    box-shadow: 0 0 10px rgba(245,183,0,0.3);
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  
  .btn {
    background: #f5b700;
    /* color: #111; */
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background: white;
    color: #111;
    transform: scale(1.03);
  }
  
  .switch-text {
    margin-top: 1.2rem;
    color: #ccc;
  }
  
  .switch-text a {
    color: #f5b700;
    text-decoration: none;
  }
  
  .switch-text a:hover {
    text-decoration: underline;
  }
  
  /* Animations */
  @keyframes fadeInUp {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0);}
  }
  
  /* Responsive */
  @media (max-width: 480px) {
    .auth-box {
      padding: 2rem 1.5rem;
    }
    .logo {
      font-size: 1.6rem;
    }
  }
  