* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   
  background: #f6f8fc;
  color: #222;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #444;
}
.logo span {
  color: #f1b200;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s;
  gap:25px;
}
.nav a.active,
.nav a:hover {
  color: #f1b200;
}

.login-btn {
  background: none;
  border: 2px solid #f1b200;
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: 600;
  color: #f1b200;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-btn:hover {
  background: #f1b200;
  color: white;
}

/* SUMMARY CARDS */
.summary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 40px;
}

.card {
  background: white;
  border-radius: 15px;
  width: 220px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card h2 {
  margin: 10px 0;
  color: #222;
}
.date {
  color: #888;
  font-size: 0.85rem;
}
.growth {
  color: #28a745;
  font-weight: 600;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  flex-wrap: wrap;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  flex: 1;
}

.chart-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  padding: 25px;
  transition: all 0.3s;
  text-align: center;
}
.chart-card:hover {
  transform: translateY(-5px);
}
.chart-card h3 {
  margin-bottom: 15px;
  color: #f1b200;
}

.side-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  min-width: 250px;
  margin-left: 20px;
}

.mini-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}
.mini-card:hover {
  transform: translateY(-5px);
}

.gradient {
  background: linear-gradient(135deg, #fff1c1, #f1b200);
}
.gradient2 {
  background: linear-gradient(135deg, #ffe8a1, #ffcc33);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  color: #777;
  background: #fdfdfd;
  font-size: 0.9rem;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .chart-grid {
    width: 100%;
  }

  .side-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  .mini-card {
    width: 45%;
  }

  .summary {
    justify-content: center;
  }
}
